.menu-item {
	min-width: 40%;
	height: 585px;
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	margin: 22px 22px;
	overflow: hidden;
	position: relative;

	// &:first-child {
	// 	margin-right: 7.5px;
	// }

	// &:last-child {
	// 	margin-left: 7.5px;
	// }

	.background-image {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
	}

	.content {
		padding: 0.5em 1.25em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		border: none;
		position: absolute;
		margin: auto;

		&.content:hover,
		.content:focus {
			cursor: pointer;
			transform: scale(1.1);
			opacity: 0.9;
		}

		.subtitle {
			display: inline-block;
			text-decoration: none;
			color: var(--clr-text, black);
			font-weight: 700;
			text-transform: uppercase;
			font-size: 1.125rem;
			padding: 0.5em 1.25em;
			background: var(--clr-accent, white);
			border-radius: 0.25em;
			transition: transform 250ms ease-in-out, opacity 250ms linear;
		}
	}
}
